{% extends "layout.html" %}
{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <h1>Missions</h1>
            <form action="/mission" method="POST"> <!--At the moment, this is not working because we can't get the start time. Help.-->
                <!--<label>Robot Medic Manager:</label><br>
                <input type="text" id="medic" name="medic" value="{{session['name']}}"><br> You are the weakest link, goodbye!-->
                <label>Location:</label><br>
                <input type="text" id="location" name="location" value=""><br>
                <label>Medical Notes:</label><br>
                <input type="text" id="notes" name="notes" value=""><br><br>
                <input type="submit" value="Submit">
              </form>
        </div>
    </div>
    <div class="row" id="message">
    </div>
    <div>
        {{data}} <!--This seems like a bad idea, but it should display the data for testing purposes before we expand upon it.-->

    </div>
{% endblock %}

<!--I'm an absolute pineapple, I forgot to run the page through flask_app.py before doing things.-->