{% extends "layout.html" %}
{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <h1>Robot Sensor View</h1>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Sensor Name</th>
                    <th scope="col">Sensor Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Sensor Name</th>
                    <td>Value</td>
                  </tr>
                  <tr>
                    <th scope="row">Sensor Value</th>
                    <td>Value</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="row" id="message">
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/sensor.js"></script> <!-- JSON HELPER -->
{% endblock %}