{% extends "layout.html" %}
{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <h1>Robot Sensor View</h1>
        </div>
    </div>
    <div class="row" id="message">
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/sensor.js"></script> <!-- JSON HELPER -->
{% endblock %}


<!--TODO: Please, for the love of everything that is holy, remove this page. It is actually useless because the sensorview page
already serves the relevant role.-->